<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <div>
        <table style="border: solid 1px #aaaaaa;">
            <thead>
                <tr>
                    <th>用户名称</th>
                    <th>年龄</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${list !=null}" th:each="item : ${list}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.age}"></td>
                    <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>